body {
	background-color: #286;
}

.container {
	height: 500px;
	background-image: url('https://i.pinimg.com/originals/b0/1f/f7/b01ff7a81d06aa2ac6f71b7b68634bf1.gif');
	background-position: bottom;
	border-radius: 4px;
	text-align: center;
	background-size: contain;
}

.buttons {
	text-align: center;
	margin-bottom: 5px;
}

.play {
	font-size: 35px;
	border: 2px solid blue;
	border-radius: 5px;
}

.sleep {
	font-size: 35px;
	border: 2px solid blue;
	border-radius: 5px;
}

.feed {
	font-size: 35px;
	border: 2px solid blue;
	border-radius: 5px;
}

.light {
	font-size: 35px;
	border: 2px solid blue;
	border-radius: 5px;
}

img {
	width: 200px;
	height: 300px;
	padding-top: 10%;
}


ul {
	font-size: 30px;
	background-color: #A52A2A;
	width: 400px;
	border-radius: 5px;
	border: 2px solid black;
	margin: auto;
}


.form {
	margin: 5px;
	font-size: 30px;
	text-align: center;
}

.name-field {
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
}

